<template>
  <ul class="nav navbar-nav">
    <b-nav-item-dropdown class="right-sidebar-toggle" v-if="auth.loggedIn == true" right>
      <!-- Using button-content slot -->
      <template slot="button-content">
        {{auth.userData.fullName}}
        <i class="material-icons list-icon">keyboard_arrow_down</i>
      </template>
      <b-dropdown-item to="/profile" class="align-middle">
        Profile
      </b-dropdown-item>
      <b-dropdown-item to="/author" class="align-middle">
        Author dashboard
      </b-dropdown-item>
      <b-dropdown-item to="/auth/logout" class="align-middle">
        Logout
      </b-dropdown-item>
    </b-nav-item-dropdown>
    <li v-if="auth.loggedIn == false">
        <nuxt-link to="/auth/login" class="right-sidebar-toggle">
          Login
        </nuxt-link>
      </li>
    <li v-if="auth.loggedIn == false">
      <nuxt-link to="/auth/register" class="right-sidebar-toggle">
        Register
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
  import { mapState } from 'vuex'
  export default {
    computed: mapState([
      'auth'
    ])
  }
</script>
