<template lang="pug">
  b-alert(variant="danger" dismissible 
          :show="showErrorBox"
          @dismissed="clearErrors"
          class="border-danger")
    p
      strong Whoops! Got some errors
    ul(class="mr-t-10")
      li(v-for="(error, index) of errorArr" :key="`errorArr-${index}`") {{ error }}
</template>
<script>
export default {
  computed: {
    errorArr () {
      return this.$store.state.errors
    },
    showErrorBox () {
      return this.errorArr.length > 0
    }
  },
  methods: {
    clearErrors () {
      this.$store.dispatch('clearErrors')
    }
  }
}
</script>