<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") {{problem.problemTitleStr}}
          p(class="page-title-description mr-0 d-none d-md-inline-block") {{problem.problemHandleStr}}
    .container
      .widget-list
        .row
          .col-md-8.widget-holder
            b-nav(pills)
              b-nav-item(v-for="(navItem, index) in editorNavs.navItems" :key="index" :active="index === editorNavs.currentNav" @click="changeNav(index)") {{ navItem }}
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg.min-height
              b-form(v-if="editorNavs.currentNav===0")
                b-form-group(label="Title")
                  b-form-input(type="text" v-model="problem.description.title.descMarkdownStr")
                b-form-group(label="Description")
                  no-ssr
                    markdown-editor(v-model="problem.description.main.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Input")
                  no-ssr
                    markdown-editor(v-model="problem.description.input.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Output")
                  no-ssr
                    markdown-editor(v-model="problem.description.output.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Notes")
                  no-ssr
                    markdown-editor(v-model="problem.description.note.descMarkdownStr" :configs="editor.configs")
              .col-md-12(v-if="editorNavs.currentNav===1")
                .col-md-12.widget-holder
                  .row.justify-content-end
                    .col-2
                      b-button(variant="info" v-b-modal="'addDatasetModal'") Add dataset
                  .row
                    .col-12.widget-holder
                      b-table(striped :fields="datasets.fields" :items="datasets.rows")
                        template(slot="index" slot-scope="data") {{data.index + 1}}
                        template(slot="created_at" slot-scope="data") 
                          timeago(:datetime="data.value" :auto-update="60")
                        template(slot="isActiveBool" slot-scope="data")
                          i(class="fa fa-check-square text-info" v-if="data.value === 1")
                          i(class="fa fa-window-close text-warning" v-else)
                        template(slot="isSampleBool" slot-scope="data")
                          i(class="fa fa-check-square text-info" v-if="data.value === 1")
                          i(class="fa fa-window-close text-warning" v-else)
                        template(slot="action" slot-scope="data")
                          b-button-group
                            b-button(variant="info" size="sm" @click="curDataset=data.item" v-b-modal="'updateDatasetModal'") Edit
                            b-button(variant="danger" size="sm" @click="curDataset=data.item" v-b-modal="'deleteDatasetModal'") Delete

          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                div.row
                  div.col-md-4
                    b-button(variant="success"  v-on:click="updateProblem") Save
                  div.col-md-4
                    b-button(variant="info" :to="{ name: 'author-problem-handle', params: { handle: $route.params.handle }}") Preview
      b-modal(id="addDatasetModal" centered title="Add new dataset" ref="newDatasetModal" @ok="addNewDataset" ok-title="Add")
        ErrorBox
        b-form
          b-form-group(label="Input file", description="Data from this file will be given as input")
            b-form-file(name="file" ref="inputFile" placeholder="Choose the input file" v-on:change="fileChange('inputFile', $event.target.files)" required)
          b-form-group(label="Output file", description="Data from this file will be used for judging submissions")
            b-form-file(placeholder="Choose the output file" ref="outputFile" v-on:change="fileChange('outputFile', $event.target.files)" required)
          b-form-group(label="Note on dataset", description="Eg: large dataset/special case")
            b-form-input(name="datasetNoteStr" required v-model="newDataset.datasetNoteStr")
          b-form-group(label="Dataset Score", description="For IOI use case, range 0-100")
            b-form-input(type="number" required v-model="newDataset.datasetScoreInt")
          b-form-group(label="Active?", description="Check this if this dataset will be used for judging")
            b-form-checkbox(value="1" unchecked-value="0" plain v-model="newDataset.isActiveBool")
          b-form-group(label="Sample?" description="Check this if this dataset will be used as sample")
            b-form-checkbox(value="1" unchecked-value="0" plain v-model="newDataset.isSampleBool")
      b-modal(id="updateDatasetModal" centered title="Update the dataset" ref="updateDatasetModal" @ok="updateDataset" ok-title="Update")
        ErrorBox
        b-form
          b-form-group(label="Dataset Group")
            b-form-input(name="datasetGroupStr" disabled v-model="curDataset.datasetGroupStr")
          b-form-group(label="Note on dataset", description="Eg: large dataset/special case")
            b-form-input(name="datasetNoteStr" required v-model="curDataset.datasetNoteStr")
          b-form-group(label="Dataset Score", description="For IOI use case, range 0-100")
            b-form-input(type="number" required v-model="curDataset.datasetScoreInt")
          b-form-group(label="Active?", description="Check this if this dataset will be used for judging")
            b-form-checkbox(value="1" unchecked-value="0" plain v-model="curDataset.isActiveBool")
          b-form-group(label="Sample?" description="Check this if this dataset will be used as sample")
            b-form-checkbox(value="1" unchecked-value="0" plain v-model="curDataset.isSampleBool")
      b-modal(id="deleteDatasetModal" header-bg-variant="danger" centered title="Delete the dataset" ref="deleteDatasetModal" @ok="deleteDataset" ok-title="Confirm")
        ErrorBox
        strong Are you sure you want to delete this dataset?
</template>

<script>
import VueTimeago from 'vue-timeago'
import ErrorBox from '~/components/ErrorBox.vue'

export default {
  middleware: 'redirectIfNotLoggedIn',
  components: {
    VueTimeago,
    ErrorBox
  },
  async asyncData ({store, params, error}) {
    const problemData = await store.dispatch('author/getProblemByHandle', params.handle)
    if (!problemData.success) {
      return error({ statusCode: problemData.statusCode })
    }
    return {'problem': problemData.data.problem, 'role': problemData.data.role}
  },
  data () {
    return {
      errors: [],
      editorNavs: {
        navItems: ['Statement', 'Datasets', 'Solutions', 'Settings'], // View rendering depends on this order
        currentNav: 0 // default view will be the statement edit view
      },
      datasets: {
        fields: [
          'index',
          {key: 'datasetNoteStr', label: 'Note'},
          {key: 'isActiveBool', label: 'Active', sortable: true},
          {key: 'isSampleBool', label: 'Sample', sortable: true},
          {key: 'created_at', label: 'Added on', sortable: true},
          'action'
        ],
        rows: []
      },
      curDataset: {}, // selected dataset for delete or update
      newDataset: {
        inputFile: null,
        outputFile: null,
        datasetNoteStr: '',
        datasetScoreInt: 100,
        isActiveBool: 1,
        isSampleBool: 0
      },
      editor: {
        configs: {
          toolbar: ['bold', 'italic', 'heading', '|', 'unordered-list', 'ordered-list', '|', 'code', 'link', 'image', '|', 'preview'],
          previewRender: function (plainText, preview) {
            preview.innerHTML = this.parent.markdown(plainText)
            if (window.MathJax) {
              window.MathJax.Hub.Config({
                tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
              })
              window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub, preview])
            }
            return preview.innerHTML
          },
          spellChecker: false,
          status: false
        }
      }
    }
  },
  methods: {
    changeNav (index) {
      this.editorNavs.currentNav = index
      if (index === 1) { // datasets
        this.getDatasets()
      }
    },
    async getDatasets () {
      const resp = await this.$store.dispatch('author/getDatasets', this.problem.problemHandleStr)
      this.datasets.rows = resp.data.datasets
    },
    async updateProblem () {
      this.$store.dispatch('showLoader')
      const resp = await this.$store.dispatch('author/updateProblem', this.problem)
      this.problem = resp.data.problem
      this.role = resp.data.role
      this.$store.dispatch('hideLoader')
    },
    fileChange (dataFileType, fileList) {
      this.newDataset[dataFileType] = fileList[0]
    },
    async addNewDataset (evt) {
      this.$store.dispatch('showLoader')
      evt.preventDefault()
      if (!this.newDataset.inputFile) {
        alert('Input file required')
        return
      }
      if (!this.newDataset.outputFile) {
        alert('Output file required')
        return
      }

      const resp = await this.$store.dispatch('author/addDataset', {
        problemHandle: this.problem.problemHandleStr,
        datasetData: this.newDataset
      })

      this.$store.dispatch('hideLoader')

      if (!resp.success) {
        this.$store.dispatch('setErrors', resp.errors)
        return
      }

      this.getDatasets()

      this.newDataset = {
        inputFile: null,
        outputFile: null,
        datasetNoteStr: '',
        datasetScoreInt: 100,
        isActiveBool: 1,
        isSampleBool: 0
      }

      this.$refs.inputFile.reset()
      this.$refs.outputFile.reset()
      this.$refs.newDatasetModal.hide()
    },
    updateDataset () {
      console.log('here')
    },
    deleteDataset () {
      console.log('delete')
    }
  },
  head () {
    return {
      title: 'Edit Problem | ' + this.problem.problemTitleStr,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'My custom description' }
      ]
    }
  }
}
</script>

<style scoped>
.CodeMirror,.CodeMirror-scroll {
    max-height: 250px;
    min-height: 250px;
    max-width: 100%;
    overflow-x: hidden;
}
</style>
