<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") {{problem.problemTitleStr}}
          p(class="page-title-description mr-0 d-none d-md-inline-block") {{problem.problemHandleStr}}
    .container
      .widget-list
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg
              no-ssr
                div(ref="preview")
                  p(v-html="mergedProblemDescription")
          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                div.row
                  div.col-md-4
                    b-button(variant="info" :to="{ path: 'edit'}" append) Edit
                  div.col-md-4
                    b-button(variant="danger") Delete
</template>

<script>
import markdown from 'marked'
export default {
  middleware: 'redirectIfNotLoggedIn',
  async asyncData ({store, params, error}) {
    const problemData = await store.dispatch('author/getProblemByHandle', params.handle)
    if (!problemData.success) {
      return error({ statusCode: problemData.statusCode })
    }
    return {'problem': problemData.data.problem, 'role': problemData.data.role}
  },
  data () {
    return {
      errors: [],
      problem: {},
      role: null
    }
  },
  computed: {
    mergedProblemDescription: function () {
      const descriptionSectionOrder = ['main', 'input', 'output', 'note']
      const sectionTitles = ['', 'Input', 'Output', 'Note']

      let desc = ''
      for (let i = 0; i < descriptionSectionOrder.length; i++) {
        if (sectionTitles[i] !== '') {
          desc += `###### ${sectionTitles[i]}  \n`
        }
        desc += this.problem.description[descriptionSectionOrder[i]].descMarkdownStr
        desc += '  \n'
      }

      return markdown(desc)
    }
  },
  created () {
    // this.problemDescription.description = markdown(this.problemDescription.description)
  },
  mounted () {
    if (window.MathJax) {
      let descriptionRefs = this.$refs.preview
      setTimeout(function () {
        window.MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        })
        window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub, descriptionRefs])
      }, 1000)
    }
  },
  methods: {
  },
  head () {
    return {
      title: 'Problem Preview | ' + this.problem.problemTitleStr,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'My custom description' }
      ]
    }
  }
}
</script>
